@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #17161e;
    color: #faf7f7;
    margin: 20px;
}

:root {
    font-size: 29px
}

@layer components {
    .btn {
        @apply bg-amber-50 font-bold px-3 py-0.5 rounded text-center text-black;
    }
}

#--re-frame-10x-- {
    font-size:  14px;
}
