{:tasks {:init (def
                 url
                 "https://benjamin-asdf.github.io/lawn-mower-game/")
         dev-shadow (shell "npm" "run" "dev")
         dev-tailwind (shell "npm" "run" "twdev")
         clean (shell "npm" "run" "clean")
         build-1 {:depends [clean]
                  :task (shell "npm" "run" "release")}
         build {:depends [build-1]
                :task (shell "npm" "run" "twprod")}
         deploy-add {:task (shell
                            {:dir "public"}
                            "git"
                            "add"
                            "--"
                            ".")}
         deploy-commit {:task (shell
                               {:dir "public"}
                               "git"
                               "commit"
                               "--allow-empty"
                               "-m"
                               "deploy")}
         deploy {:depends [deploy-add deploy-commit]
                 :task (shell
                        {:dir "public"}
                        "git"
                        "push"
                        "--force"
                        "git@github.com:benjamin-asdf/lawn-mower-game.git"
                        "master:gh-pages")}
         build-deploy {:depends [build deploy]}
         browse-qr-code (shell
                         "xdg-open"
                         (str
                          "https://api.qrserver.com/v1/create-qr-code/?size=300x300&data="
                          url))
         browse (shell "xdg-open" url)}}
